@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700');

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
}

html, body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.twitter_bg {
    background-color: #1B95E0;
}
.twitter {
    color: #1B95E0;
}

.container {
    padding: 60px 20px;
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}

.tweetnow {
    margin: 40px 0;
}

.tweetnow > input[type="text"] {
    border-radius: 8px;
    border-color: #1B95E0;
    padding: 8px;
    font-family: 'Work Sans', sans-serif;
    display: block;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 26px;
}
.tweetnow > button {
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    border: 0;
    font-family: 'Work Sans', sans-serif;
    color: white;
    margin-top: 10px;
}
.tweetnow button:hover {
    background-color: #1da1f2;
}